{% extends 'base.html' %}

{% block content %}
    <h2 class="text-2xl font-bold">Add a Movie for {{ user.name }}</h2>
    <form action="{{ url_for('users_bp.add_movie', user_id=user.id) }}" method="post" class="mt-4">
        <label for="title" class="block">Movie Title:</label>
        <input type="text" id="title" name="title" required class="border border-gray-300 p-2 w-full rounded">
        <button type="submit" class="bg-custom-mid text-white px-4 py-2 rounded hover:bg-custom-dark mt-4">Add Movie</button>
    </form>
{% endblock %}
