{% extends 'base.html' %}

{% block content %}
    <h2>Update Movie</h2>
    <form action="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}" method="POST">
        <label for="name">Movie Name:</label><br>
        <input type="text" id="name" name="name" value="{{ movie.name }}" required><br><br>

        <label for="director">Director:</label><br>
        <input type="text" id="director" name="director" value="{{ movie.director }}" required><br><br>

        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year" value="{{ movie.year }}" required><br><br>

        <label for="rating">Rating:</label><br>
        <input type="number" id="rating" name="rating" step="0.1" value="{{ movie.rating }}" required><br><br>

        <button type="submit" style="background-color: rgb(83, 162, 190); color: white; border: none; cursor: pointer;">Update Movie</button>
    </form>
{% endblock %}
